.StatBox {
   background-color: white;
   color: black;
   margin: 10px 20px 10px 0;
   flex-basis: 50%;
   height: 6vh;
   border-radius: 15px;
   border: 2px solid #ccc;
   box-shadow: 3px 3px 5px 0px rgba(44, 44, 44, 1);
}

.Hp {
   background: rgb(255, 0, 0);
   background: linear-gradient(
      180deg,
      rgba(255, 0, 0, 1) 0%,
      rgba(180, 0, 0, 1) 50%,
      rgba(255, 0, 0, 1) 100%
   );
   border-color: #c00;
}

.Attack {
   background: rgb(240, 128, 48);
   background: linear-gradient(
      180deg,
      rgba(240, 128, 48, 1) 0%,
      rgba(209, 103, 27, 1) 50%,
      rgba(240, 128, 48, 1) 100%
   );
   border-color: #dd6510;
}

.Defense {
   background: rgb(248, 208, 48);
   background: linear-gradient(
      180deg,
      rgba(248, 208, 48, 1) 0%,
      rgba(222, 182, 21, 1) 50%,
      rgba(248, 208, 48, 1) 100%
   );
   border-color: #edbf08;
}

.Special-attack {
   background: rgb(104, 144, 240);
   background: linear-gradient(
      180deg,
      rgba(104, 144, 240, 1) 0%,
      rgba(69, 111, 213, 1) 50%,
      rgba(104, 144, 240, 1) 100%
   );
   border-color: #3a6eeb;
}

.Special-defense {
   background: rgb(120, 200, 80);
   background: linear-gradient(
      180deg,
      rgba(120, 200, 80, 1) 0%,
      rgba(90, 172, 49, 1) 50%,
      rgba(120, 200, 80, 1) 100%
   );
   border-color: #58a133;
}

.Speed {
   background: rgb(248, 88, 136);
   background: linear-gradient(
      180deg,
      rgba(248, 88, 136, 1) 0%,
      rgba(213, 57, 104, 1) 50%,
      rgba(248, 88, 136, 1) 100%
   );
   border-color: #f62765;
}
