.Button {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 15px;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    /*noinspection CssNoGenericFontName*/
    font-family: 'Roboto Condensed';
    font-size: 16px;
    transition: 0.3s;
    box-shadow: 2px 2px 5px 0 rgb(5, 5, 5);
}

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}
