.Button {
   background-color: transparent;
   border: 1px solid white;
   border-radius: 15px;
   color: white;
   outline: none;
   cursor: pointer;
   font: inherit;
   padding: 10px;
   margin: 10px;
   font-family: 'Roboto Condensed';
   font-size: 16px;
   transition: 0.3s;
}

.Search {
   border-color: #ffd460;
   color: #ffd460;
}

.Random {
   border-color: #ffd460;
   color: #ffd460;
}

.Random:hover {
   color: #ea5455;
   border-color: #ea5455;
}

.Search:hover {
   color: #f07b3f;
   border-color: #f07b3f;
}

.Button:disabled {
   color: #ccc;
   cursor: not-allowed;
}
