.AbilityBox {
    background: #ff9f3b;
    background: linear-gradient(
        180deg,
        rgba(255, 159, 59, 1) 0%,
        rgba(193, 106, 16, 1) 50%,
        rgba(255, 159, 59, 1) 100%
    );
    color: black;
    margin: 1%;
    width: 33%;
    height: 40px;
    border-radius: 15px;
    box-shadow: 3px 3px 5px 0 rgba(44, 44, 44, 1);
}

.Type {
    margin: 2px 0 0 5px;
    font-size: 10px;
    text-align: left;
    flex: none;
}

.Value {
    font-size: 14px;
    text-align: center;
    font-weight: 500;
    margin: -2px auto 0 auto;
}

.Hidden {
    font-size: 10px;
    text-align: center;
    flex: none;
    margin-top: -2%;
}

.Type,
.Value,
.Hidden {
    cursor: default;
}

/* less than Ipad - phones */
@media only screen and (max-width: 767px) {
    .AbilityBox {
        height: 30px;
        box-shadow: 1px 1px 3px 0 rgba(44, 44, 44, 1);
    }

    .Type {
        font-size: 6px;
        margin-left: 10px;
    }

    .Value {
        font-size: 10px;
        margin: auto;
    }

    .Hidden {
        font-size: 8px;
    }
}
