.DataBox {
   background-color: #ff9f3b;
   color: black;
   margin: 10px 20px 10px 0;
   flex-basis: 50%;
   height: 6vh;
   border-radius: 15px;
}

.Type {
   margin: 2px 0 0 5px;
   font-size: 10px;
   text-align: left;
   flex: none;
}

.Value {
   font-size: 24px;
   text-align: center;
   font-weight: 500;
   margin: auto;
}

/* Small PCs */

@media only screen and (max-width: 1023px) {
   .DataBox {
      margin: 5px 5px 0 0;
   }

   .Type {
      font-size: 8px;
   }
}

/* Ipad portrait */

@media only screen and (max-width: 1023px) {
   .DataBox {
      width: 80%;
   }
}

/* less than Ipad - phones */
@media only screen and (max-width: 767px) {
   .DataBox {
      width: 90%;
      height: 8vh;
   }

   .Type {
      font-size: 8px;
   }

   .Value {
      font-size: 12px;
   }
}
