.ImageBox {
    margin: 0 5px 0 10px;
    width: 130px;
}

.Image {
    margin: auto;
}

.Type {
    margin: 5px auto 0 0;
    font-size: 8px;
    text-align: left;
}

@media only screen and (max-width: 767px) {
    .ImageBox,
    .Image {
        width: 50px;
    }
    .ImageBox {
        margin: 0 2px 0 5px;
    }
}
