.MovesSection {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.MoveButton {
    margin: 0 1vw 5px 1vw;
    background-color: #ff9f3b;
    border-radius: 15px;
    height: 25px;
    color: #444;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    transition: background-color 0.6s ease;
    box-shadow: 2px 2px 5px 0 rgba(44, 44, 44, 1);
}

.MoveButton:hover,
.active {
    background-color: #e08526;
    border-radius: 15px;
}

.MoveName {
    /*noinspection CssNoGenericFontName*/
    font-family: 'Roboto Condensed';
    color: black;
    font-size: 14px;
    font-weight: 500;
    box-sizing: border-box;
    margin: auto;
    text-align: center;
}

.MovesContent {
    background-color: #ffbc77;
    margin: 0 1vw 5px 1vw;
    overflow: hidden;
    transition: max-height 0.6s ease;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MovesChevron {
    margin-left: auto;
    transition: transform 0.6s ease;
}

.MethodContainer {
    width: 100%;
    margin: 0.5%;
    background-color: #ffcd99;
    border-radius: 15px;
}

.MethodTitle {
    font-size: 24px;
    margin: 1%;
    color: black;
    cursor: default;
}

.GenerationRow {
    box-sizing: border-box;
    width: 95%;
    margin: 1% 0;
    display: flex;
    flex-direction: row;
}

.MoveName {
    margin: auto 5px;
    font-size: 14px;
}

.rotate {
    transform: rotate(90deg);
}

@media only screen and (max-width: 1023px) {
    .GenerationRow {
        flex-direction: column;
    }
    .MethodContainer {
        margin: 0.5% 0;
    }
    .MoveButton {
        box-shadow: 1px 1px 3px 0 rgba(44, 44, 44, 1);
    }
}
